html{scroll-behavior: smooth; }
hr{margin:40px 0;}
hr{background: rgb(68 68 68 / 50%);}
::-webkit-scrollbar{width: 7px; height:7px; }
::-webkit-scrollbar-track{box-shadow: inset 0 0 7px #444; }
::-webkit-scrollbar-thumb{background: var(--theme-color2); }
::-webkit-scrollbar-thumb:hover{background: var(--theme-color); }
::selection{color: #fff; background: var(--theme-color2);}
:focus-visible{outline: var(--theme-color2) auto 1px;}
.nav-link:focus{color: var(--theme-color2);}


:root {
  --theme-dark: #242632;
  --theme-light: #F3F3F3;
  --theme-color: #291F6E;
  --theme-color2: #03274A;
}

body{font-family: 'Graphik';color: #444;font-size: 17px;line-height: 28px;font-weight: 400;}
h1, h2, h3, h4, h5, h6{margin: 0;}
a{text-decoration: none; color: unset; }
ul{margin: 0;padding: 0;list-style: none;}
p{margin: 0;}


/*====================== Page Site Link ======================*/
.site-link{padding: 0 0 10px 0;position: relative;line-height: 1;}
.site-link:before{position: absolute;top: 0;left: 0;overflow: hidden;padding: 0 0 4px 0;max-width: 0;border-bottom: 1px solid #fff;color: #fff;content: attr(data-hover);transition: max-width 0.5s;white-space: pre;}
.site-link:hover:before{max-width: 100%;}

/*====================== Page Button ======================*/
.page-btn{display: inline-block;padding: 0 26px;width: fit-content;border: 2px solid #707070;border-radius: 48px;font-size: 16px;font-weight: 500;color: #03274A;letter-spacing: 0.8px;line-height: 50px;overflow: hidden;z-index: 0;transition: 500ms; background: unset; }
.page-btn::before{padding-left: 26px;border-bottom: none;}
.page-btn::after{content: '';position: absolute;top: 0;left: 0;width: 0;height: 100%;background: var(--theme-color2);z-index: -1;transition: 500ms;}
.page-btn:hover, 
.page-btn:focus{border-color: var(--theme-color2);color: var(--theme-color2);}
.page-btn:hover::after{width: 100%;}

/*====================== Page List ======================*/
.page-list li{padding-left: 30px;position: relative;}
.page-list li::before{content: '';position: absolute;top: 3px;left: 0;width: 20px;aspect-ratio: 1/1;background: url(../img/list-icon.svg) no-repeat;background-size: contain;}

/*====================== Page Title ======================*/
.sub-title{font-size: 20px;font-weight: 500;line-height: 1;color: var(--theme-color);text-transform: uppercase;}
.title{margin-top: 20px;font-size: 35px;font-weight: 500;line-height: 1.22;color: #444;}





/*====================== Header ======================*/
.top-header{padding: 10px 25px 15px 15px;border-bottom: 1px solid #E3E3E3;display: flex;justify-content: space-between;align-items: center;}
.top-header .logo-area{display: flex;align-items: center;}
.top-header .logo-area .logo{margin-right: 35px;padding-right: 25px;border: 0 solid #E3E3E3;border-width: 0 1px 0 0;}
/*-------------------  -------------------*/
.top-header .header-contact{display: flex;align-items: center;}
.top-header .header-contact li{margin-right: 30px;}
.top-header .header-contact li:last-child{margin: 0px;padding: 0;border: 0;}
.top-header .header-contact a{font-size: 17px;font-weight: 500;line-height: 1;color: var(--theme-color);}
.top-header .header-contact a .icon{width: 36px;height: 36px;border: 1px solid var(--theme-color);border-radius: 50%;display: inline-flex;justify-content: center;align-items: center;position: relative;overflow: hidden;transition: 500ms;}
.top-header .header-contact a .icon::before{content: '';position: absolute;top: 0;left: 0;width: 0;height: 100%;background: var(--theme-color2);transition: 500ms;z-index: -1;}
.top-header .header-contact a .icon img{transition: 500ms;}
.top-header .header-contact a:hover .icon{border-color: var(--theme-color2);}
.top-header .header-contact a:hover .icon::before{width: 100%;}
.top-header .header-contact a:hover .icon img{filter: brightness(0) invert(1);}
.top-header .header-contact a .site-link:before{border-bottom: 1px solid #444;color: #444;}
.top-header .header-contact a:hover .site-link:before{max-width: 100%;}
/*-------------------  -------------------*/
.btm-header{padding: 10px 30px;}
.header .navbar{padding: 0;}
.header .navbar-nav .nav-item{padding: 10px 20px;}
.header .navbar-nav .nav-item .nav-link{padding: 0;font-size: 16px;font-weight: 500;color: #444;text-transform: uppercase;line-height: 1;}
.header .navbar-nav .nav-item .nav-link.site-link:before{color: var(--theme-color2);border-color: #03274A;}
.header .navbar-nav .nav-item .nav-link.site-link.active:before {max-width: 100%; }
/* .header .navbar-nav .nav-item .nav-link::after{content: '';position: absolute;top: 0;left: 0;width: 0;height: 100%;background: var(--theme-color2);transition: 500ms;z-index: -1;}
.header .navbar-nav .nav-item .nav-link:hover::after{width: 100%;} */
.header .navbar-nav .nav-item .nav-link.enq-btn{border-radius: 0;overflow: unset;}
.header .navbar-nav .nav-item .nav-link.enq-btn::after{display: none;}

/*-------------------  -------------------*/
.enq-btn{padding: 10px 20px;font-size: 16px;font-weight: 500;color: #444;text-transform: uppercase;line-height: 1;border-radius: 20px;overflow: hidden;}
.enq-btn.site-link:before{padding: 10px 0 10px 20px;border: none;}
.enq-btn::after{content: '';position: absolute;top: 0;left: 0;width: 0;height: 100%;background: var(--theme-color2);transition: 500ms;z-index: -1;}
.enq-btn:hover{color: #444;}
.enq-btn:hover::after{width: 100%;}
/*-------------------  -------------------*/
.header .navbar-toggler{/*margin-left: 15px;*/padding: 0;}
.header .navbar-toggler:focus{box-shadow: none;}
.ham-menu{height: 20px;width: 25px;position: relative;display: flex;flex-direction: column;justify-content: space-between;}
.ham-menu .line{width: 100%;height: 2px;background: var(--theme-color2);}
.ham-menu .line1{transform-origin: 0% 0%;transition: transform 100ms ease-in-out;}
.ham-menu .line2{transition: 100ms ease-in-out;}
.ham-menu .line3{transform-origin: 0% 100%;transition: transform 100ms ease-in-out;}
/*-------------------  -------------------*/
.header .navbar-toggler:focus{box-shadow: none;}
/* .header .navbar-toggler:focus .ham-menu .line1{width:calc(100% - 8px);transform: translateX(-8px);}
.header .navbar-toggler:focus .ham-menu .line2{width:calc(100% + 8px);transform: translateX(-8px);}
.header .navbar-toggler:focus .ham-menu .line3{width:calc(100% - 8px);transform: translateX(8px);} */
.header .navbar-toggler.close .ham-menu .line1{display: block;transform: rotate(45deg);}
.header .navbar-toggler.close .ham-menu .line2{opacity: 0;}
.header .navbar-toggler.close .ham-menu .line3{display: block;transform: rotate(-45deg);}




/*====================== Index Slider ======================*/
.page-slider .carousel-caption{top: 0;right: 0;left: 0;bottom: 0;padding: 7vw 2vw 0 10vw;width: 100%;height: 100%;display: flex;justify-content: space-between;align-items: center;}
.page-slider .carousel-caption h2{font-size: 3.492vw;font-weight: 500;font-family: "Noto Serif JP", serif;text-align: left;width: 32vw;line-height: 3.7vw;
  -webkit-animation: 0.9s ease-in-out 0.8s normal backwards 1 running fadeInLeft;animation: 0.9s ease-in-out 0.8s normal backwards 1 running fadeInLeft;}
  .page-slider .carousel-caption .slider-img{width: 50vw;height: 100%;position: relative;}
  .page-slider .carousel-caption .slider-img img{width: 100%;height: 100%;object-fit: cover;border-radius: 1.83vw 1.83vw 0 0;
    -webkit-animation: 0.6s ease-in-out 0.0s normal backwards 1 running fadeIUp;animation: 0.6s ease-in-out 0.0s normal backwards 1 running fadeInUp;}
    .page-slider .carousel-caption .slider-img::before,
    .page-slider .carousel-caption .slider-img::after{content: '';position: absolute;top: -1.3vw;width: 13.6vw;height: 3.2vw;background: url(../img/banner-dots.png) no-repeat;background-size: contain;}
    .page-slider .carousel-caption .slider-img::before{left: -4.4vw;}
    .page-slider .carousel-caption .slider-img::after{right: -1.4vw;}
    .page-slider .carousel-indicators{margin-bottom: 10px;opacity: 0;transition: 500ms;}
    .page-slider:hover .carousel-indicators{opacity: 1;}
    .page-slider .carousel-indicators [data-bs-target]{width: 50px;height: 2px;opacity: 1;transition: 500ms;}
    .page-slider .carousel-indicators .active{background-color: var(--theme-color2);}

/*====================== Index About ======================*/
.index-about{padding: 85px 0 65px;position: relative;}
.index-about::before{content: '';position: absolute;left: 0;bottom: 0;width: 30%;height: 50%;background: var(--theme-color);z-index: -1;}
.index-about .about-content{padding: 0 10px 0 55px;}
.index-about .about-content p{margin: 30px 0 22px;width: 94%;font-size: 20px;line-height: 1.4;}
.index-about .about-content .page-btn{margin: 10px 25px 0 0;}
.index-about .about-img{transition: 500ms;}
.index-about:hover .about-img{transform: translate(-5px, -8px);}

/*====================== Index Products ======================*/
.index-products{padding: 70px 0 60px 44px;}
.index-products .page-list{margin-top: 40px;}
.index-products .page-btn{margin-top: 37px;}
.index-products .page-list li{margin-bottom: 24px;padding-left: 40px;font-size: 26px;line-height: 1.1;}
.index-products .page-list li:last-child{margin-bottom: 0px;}

/*====================== Index Feature ======================*/
.feature{padding: 10px 0;background: var(--theme-light);}
.feature .feature-area{display: flex;flex-wrap: wrap;justify-content: space-evenly;}
.feature .item{padding: 10px;}
.feature .card{padding: 10px 0 35px;min-width: 235px;background: transparent;border: none;position: relative;}
.feature .card:after{content: '';position: absolute;left: calc(50% - 2.5px);bottom: 0;width: 0px;height: 5px;background: #fff;border-radius: 50%;transition: width 0.3s 0.3s ease, border-radius 0.3s 0.3s ease, left 0.3s 0.3s ease, height 0.3s ease;box-shadow: 0 0 10px 0 rgb(0 0 0/8%);}
.feature .card .icon{margin: 0 auto 23px;padding: 10px 20px;width: 110px;height: 82px;text-align: center;display: inline-block;z-index: 1;transition: all 0.3s ease;}
.feature .card h4{font-size: 17px;font-weight: 500;line-height: 1.3;text-align: center;white-space: pre-line;}
.feature .card:hover .icon{transition: all 0.3s 0.3s ease;}
.feature .card:hover:after{left: 0;width: 100%;height: 100%;border-radius: 3px;z-index: -1;transition: width 0.3s ease, border-radius 0.3s ease, left 0.3s ease, height 0.3s 0.3s ease;}

/*====================== Index Detail Area ======================*/
.detail-main-area{overflow: hidden;}
.detail-area{margin: 68px 0 105px;display: flex;justify-content: flex-end;position: relative;}
/*-------------------  -------------------*/
.detail-area .sipn-area{position: absolute;bottom: 0;right: 0;width: 25vw;aspect-ratio: 1/1;transform: translate(50%, 9%);z-index: -1;overflow: hidden;opacity: 1%;}
.detail-area .sipn-area img{width: 100%;height: 100%;object-fit: contain;animation: spin 8000ms infinite linear;}
@keyframes spin{from{transform:rotate(0deg);}to{transform:rotate(360deg);}}
/*-------------------  -------------------*/
.detail-area .bg-img{width: 60.3%;aspect-ratio: 830/514;position: absolute;top: 0;left: 0;}
.detail-area .bg-img img{width: 100%;height: 100%;object-fit: cover;}
/*-------------------  -------------------*/
.detail-area .card{margin-top: 60px;padding: 53px 60px 66px 60px;width: calc(50% - 15px);min-height: 500px;box-shadow: 3px 0 36px rgb(0 0 0 /29%);border: 0;border-radius: 0;justify-content: center;transition: 800ms;}
.detail-area .card .title{margin-bottom:  24px;}
.detail-area .card p{font-size: 20px;line-height: 1.25;}
.detail-area .card ul li{font-size: 20px;line-height: 1.4;}
.detail-area .card ul.page-list li::before{filter: brightness(0) invert(0.265);}
.detail-area .card .page-btn{margin-top: 28px;}
.detail-area:hover .card{transform: translate(-5px, -8px);}
/*-------------------  -------------------*/
.detail-main-area:last-child .detail-area{margin-bottom: 36px;}
.detail-area.detail-left-side{justify-content: flex-start;}
.detail-area.detail-left-side .sipn-area{left: 0;right: unset;transform: translate(-50%, 9%);}
.detail-area.detail-left-side .bg-img{left: unset;right: 0;}

/*====================== Index industries ======================*/
.industries{padding: 45px 0 70px;}
.industries .sub-title{text-align: center;}
.industries ul{display: flex;justify-content: center;flex-direction: row;flex-wrap: wrap;}
.industries ul li{margin: 35px 20px 0;padding: 28px;width: 212px;aspect-ratio: 1/1;background: rgb(0 0 0 /45%);border-radius: 50%;overflow: hidden;display: flex;justify-content: center;align-items: center;text-align: center;position: relative;cursor: default;transition: 800ms;}
.industries ul li .bg{position: absolute;top: 0;left: 0;width: 100%;height: 100%;z-index: -1;object-fit: cover;transition: 800ms;}
.industries ul li .industries-name{font-size: 16px;font-weight: 500;line-height: 1.13;color: #FFF8F8;}
.industries ul:hover li{background: rgb(0 0 0 /65%);}
.industries ul:hover li .bg{filter: grayscale(1);}
.industries ul li:hover{background: rgb(0 0 0 /45%);}
.industries ul li:hover .bg{filter: grayscale(0);transform: scale(1.05);}

/*====================== Index Footer ======================*/
.footer{background: var(--theme-color);position: relative;}
.footer::before{content: '';position: absolute;top: 0;left: 0;width: 100%;height: 100%;background: url(../img/footer-bg.jpg) no-repeat center center;background-size: cover;opacity: 28%;}
.footer .footer-top{padding: 40px 0;position: relative;}
.footer .footer-top .foot-content{display: flex;flex-direction: column;align-items: center;}
.footer .footer-top .foot-logo{max-width: 225px;}
.footer .footer-top .foot-link{margin-top: 37px;display: flex;flex-wrap: wrap;justify-content: center;font-size: 16px;}
.footer .footer-top .foot-link li{padding: 0 22px;text-transform: uppercase;}
.footer .footer-top .foot-link li:first-child{padding-left: 0;}
.footer .footer-top .foot-link li:last-child{padding-right: 0;}
.footer .footer-top .foot-link li a{color: rgb(255 255 255/ 65%);}
.footer .footer-top .foot-contact{margin-top: 14px;text-align: center; max-width: 550px;}
.footer .footer-top .foot-contact li{margin-top: 24px;}
.footer .footer-top .foot-contact p, .footer .footer-top .foot-contact a{font-size: 16px; color: rgb(226 227 227 /65%);}
.footer .footer-top .foot-contact p.heading{margin-bottom: 8px;font-size: 16px;font-weight: 500; text-transform: uppercase;}
.footer .footer-btm{padding: 40px 0 30px;border-top: 1px solid rgb(255 255 255/ 14%);position: relative;}
.footer .footer-btm .copy-area{display: flex;justify-content: space-between;}
.footer .footer-btm .copy-area p, .footer .footer-btm .copy-area a{font-size: 15px;line-height: 1;color: rgb(255 255 255/ 65%);}


/*====================== Back to top =========================*/
#back-top a{position: fixed;bottom: 50px;right: 30px;width: 50px;height: 50px;text-align: center;background: #fff;box-shadow: 0 0 20px rgb(0 0 0 / 23%);
  -webkit-transition: all .3s ease;-moz-transition: all .3s ease;-ms-transition: all .3s ease;-o-transition: all .3s ease;
  transition: all .3s ease;-webkit-animation: jump 1s ease-in alternate infinite;animation: jump 1s ease-in alternate infinite;z-index: 1;}
  #back-top a span{width: 30px;height: 30px;position: absolute;top: 50%;left: 50%;transform: translate(-50%, -50%);background-image: linear-gradient(to right, #82B82A, #1BA77C);clip-path: polygon(0% 100%,50% 0,100% 100%,50% 85%);}
  @keyframes jump{
    0%{-webkit-transform: translate3d(0,0,0);transform: translate3d(0,0,0);}
    100%{-webkit-transform: translate3d(0,100%,0);transform: translate3d(0,50%,0);}
  }


/*====================== inquiry form  =========================*/
